html {
  font-size: 16px;
}

body {
  background: aliceblue;
}

header {
  margin: auto;
  min-width: 500px;
  width: 80%;
}

#title {
  margin: auto;
  width: 90%;
}

header h1 {
  margin: auto;
  width: 220px;
}

header p {
  margin: auto;
  width: 400px;
}

header nav {
  border-radius: 0.4rem;
  margin: 0.5rem auto;
  padding: 0.2rem 1rem;
  width: 140px;
}

nav, 
nav ul,
nav ol {
  margin: 0;
}

a, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: purple;
}

a:active {
  color: red;
}

main {
  background: white;
  margin: 1rem auto 8rem;
  min-width: 500px;
  padding: 1rem;
  width: 80%;
}

main nav {
  background: lightgray;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

section {
  border-top: 0.2rem solid black;
  padding: 1%;
  width: 98%;
}

article {
  border: 1px solid black;
  margin: 1rem auto;
  padding: 0 0.5rem;
  width: 96%;
}

article:target h3 {
  text-decoration: underline;
}

article img {
  float: right;
  margin: 0.5rem 0 0.5rem 0.2rem;
}

article p:last-child::after {
  content: "";
  display: block;
  clear: both;
}

a.back-to-top {
  background: rgb(158, 170, 202);
  border: rgb(70, 70, 100);
  border-radius: 0.5rem;
  border-style: none solid solid none;
  border-width: 0 0.2rem 0.2rem 0;
  color: navy;
  display: block;
  float: right;
  font-size: 1rem;
  height: 20px;
  margin: 0.2rem 0.2rem 0.2rem 0.5rem;
  padding: 0.2rem;
  text-decoration: none;
  text-align: center;
  width: 90px;
}

section::after {
  content: "";
  display: block;
  clear: both;
}

a.back-to-top:active {
  color:#cce;
  border-width: 0 0.1rem 0.1rem 0;
}

#all article {
  background: #cce;
  height: 30px;
  margin: 0.5rem 0;
  overflow: hidden;
  padding-bottom: 15px;
  width: 75px;
}

#all article:target {
  background: white;
  height: auto;
  width: 80%;
}

#all article:target h3 a {
  color: black;
}

footer {
  background: lightgray;
  font-size: medium;
  font-style: italic;
  min-width: 640px;
  width: 100%;
  margin: 0 -1rem;
  padding: 0.2rem 1rem;
  position: fixed;
  bottom: 0;
}

footer h2 {
  margin: 0;
}

footer a {
  text-decoration: underline;
  margin: 0.4rem;
}

footer a[href^='mailto'] {
  margin: 0;
}